# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# API keys / secrets
key.json

# Output files
faq_scraped.csv

# IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Others
*.log
